@import url(./animated.css);

@media (min-width: 768px) {
  .about {
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
    /* min-height: 80vh; */
    max-width: 1440px;
  }
  .about-cont{
    display: flex;
    gap: 40px;
  }
  .about h2 {
    color: #45c945;
    font-size: 32px;
  }

  .about-desc {
    width: 100%;
    padding: 20px;
    max-width: 720px;
  }
  .desc {
    z-index: 1;
    margin-bottom: 10px;
    color: aliceblue;
    text-shadow: rgb(163, 160, 149) 1px 3px 10px;
    text-indent: 20px;
    font-size: 20px;
    animation: descabout 2s linear infinite;
  }
  .desc1{
    z-index: 1;
    font-size: 20px;
    color: aliceblue;
    text-shadow: rgb(163, 160, 149) 1px 3px 10px;
    text-indent: 20px;
    animation: descabout 2s linear infinite;

  }
  .rotated-lang{
    height: 400px;
    position: relative;
    width: 100%;
    /* border: 1px solid white; */
  }
  ul {
    list-style: none;
  }
  .lg,
  .fr,
  .opt {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 40%;
    left: 40%;
    z-index: 0;
  }
  .lg li, .fr li, .opt li{
    color: #262f63;
    background-color: #7caaaa;
    border-radius: 4px;
    min-width: 50px;
    text-align: center;
    padding: 3px 6px;
    box-shadow: 20px 20px 13px 2px #647481bf;
  }
  .li-lg0 {
    animation: rotatedFirst 10s linear infinite;
  }
  .li-lg1 {
    animation: rotatedSecond 10s linear infinite;
  }
  .li-lg2 {
    animation: rotatedThird 10s linear infinite;
  }
  .li-fr0 {
    animation: rotatedFirstInd0 15s infinite linear;
  }
  .li-fr1 {
    animation: rotatedSecondInd1 15s infinite linear;
  }
  .li-fr2 {
    animation: rotatedThirdInd2 15s infinite linear;
  }
}
@media (max-width: 768px) {
  .about {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
    min-height: 80vh;
  }
  .about h2 {
    color: #45c945;
  }

  .about-desc {
    width: 100%;
    padding: 20px;
  }
  .desc {
    z-index: 1;
    margin-bottom: 10px;
    color: aliceblue;
    text-shadow: rgb(163, 160, 149) 1px 3px 10px;
    text-indent: 20px;
    animation: descabout 2s linear infinite;
  }
  .desc1{
    z-index: 1;
    color: aliceblue;
    text-shadow: rgb(163, 160, 149) 1px 3px 10px;
    text-indent: 20px;
    animation: descabout 2s linear infinite;

  }
  .rotated-lang{
    height: 400px;
    position: relative;
    width: 100%;
    /* border: 1px solid white; */
  }
  ul {
    list-style: none;
  }
  .lg,
  .fr,
  .opt {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 40%;
    left: 45%;
    z-index: 0;
  }
  .lg li, .fr li, .opt li{
    color: #262f63;
    background-color: #7caaaa;
    border-radius: 4px;
    min-width: 50px;
    text-align: center;
    padding: 3px 6px;
    box-shadow: 20px 20px 13px 2px #647481bf;
  }
  .li-lg0 {
    animation: rotatedFirst 10s linear infinite;
  }
  .li-lg1 {
    animation: rotatedSecond 10s linear infinite;
  }
  .li-lg2 {
    animation: rotatedThird 10s linear infinite;
  }
  .li-fr0 {
    animation: rotatedFirstInd0 15s infinite linear;
  }
  .li-fr1 {
    animation: rotatedSecondInd1 15s infinite linear;
  }
  .li-fr2 {
    animation: rotatedThirdInd2 15s infinite linear;
  }
}
