* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}
.main{
  display: flex;
  flex-direction: column;
}
.App {
  background-color: #0a192f;
  padding: 0 10px;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}
.App-logo {
  background-color: #0a192f;
  padding: 20px;
  height: 100vh;
}
@media (max-width: 768px) {
  
  .App{width: 100vw;}
  .App-logo {
    background-color: #0a192f;
    padding: 20px;
    min-height: 100vh;
    position: relative;
    overflow: hidden;
    width: 100vw;
  }
  .App {
    display: flex;
    flex-direction: column;
  }
  .transform-off {
    transform: translate(-500px);
    transition: all 0.5s ease;
  }
  .transform-on{
    animation: animeTransform 2s linear forwards;
    transition: all 1s ease;
  }
}
.opacity0 {
  opacity: 0;
  transition: 0.5s ease-in-out;
}
.opacity1 {
  opacity: 1;
  transition: 0.5s ease-in-out;
}
