.btn-top{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;
    font-size: 28px;
    z-index: 12;
    background-color: #45c945;
    border: 1px solid white;
    transition: all 3s ease-in-out;
    position: fixed;
    bottom: 80px;
    right: 20px;

}
.btn-top span{
    border: 1px solid #45c945;
    /* width: 50px; */
    /* height: 50px; */
    position: absolute;
    padding: 20px;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: borderAnime 2s ease-in-out infinite;

}
.btn-top span::after{
    content: '';
    border: 1px solid #45c945;
    width: 50px;
    height: 50px;
    position: absolute;
    padding: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    animation: borderAnime 2s ease-in-out infinite 2s;
}
.btn-top-show{
    opacity: 1;
    transition: all 1s ease-in-out;
}
.btn-top-hide{
    opacity: 0;
    transition: all 1s ease-in-out;
}
@keyframes borderAnime {
    from{
        opacity: 0;
    }to{
        opacity: 1;
    }
}

