.card {
  flex: 1 0 240px;
  height: auto;
  margin-bottom: 20px;
  border-bottom: 1px solid white;
  height: auto;
  /* width: 400px; */
}
.card img {
  width: 100%;
  object-fit: cover;
}
@media (min-width: 768px) {
  .card {
    flex: none;
    max-width: 620px !important;
  }
  .content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
  }
  .card-name {
    font-size: 20px;
    align-self: center;
    color: whitesmoke;
    padding: 5px;
    margin: 5px;
  }
  .links {
    display: flex;
    justify-content: space-around;
    height: auto;
  }
  .card-desc {
    align-self: center;
    width: 400px;
    text-align: center;
    overflow: hidden;
    line-height: 1.5rem;
  }
  .card-desc p {
    text-wrap: wrap ;
    width: 300px;
    color: whitesmoke;
  }
}
@media (max-width: 768px) {
  .card {
    margin-bottom: 20px;
    border-bottom: 1px solid white;
    height: auto;
    width: 400px;
  }
  .content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .card-name {
    color: #45c945;
    font-size: 20px;
    align-self: center;
    margin: 5px 0;
  }
  .links {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
  .splide__arrows {
    display: none;
  }
}
