.contact {
  width: 100%;
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: space-around;
  flex-direction: row;
  padding: 10px;
  gap: 40px;

  margin: 100px 0;
  position: relative;
}
.left-cont {
  flex: 2;
  z-index: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact-bg {
  z-index: 0;
  max-width: 400px;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #252d5e;
  filter: blur(2px);
  top: 0;
  filter: blur(10px);
  border: 4px solid #fdfdfd;
}
.contact-img {
  width: 100%;
  height: auto;
  max-height: 400px;
  position: absolute;
  filter: blur(5px);
  top: 90px;
  z-index: 0;
}
.contact h2 {
  z-index: 2;
  color: #45c945;
  font-size: 26px;
  margin-bottom: 10px;
  text-align: center;
}
.form-contact {
  display: flex;
  flex-direction: column;
  align-self: center;
  gap: 10px;
  max-width: 300px;
  align-self: center;
  z-index: 12;
  position: relative;
}

.form-contact input {
  height: 30px;
  padding-left: 10px;
  outline: none;
  background-color: transparent;
  color: whitesmoke;
  box-sizing: border-box;
  border-radius: 5px;
  border: none;
  border: 2px solid #dadada;
  border-top: none;
  font-size: 20px;
}

.form-contact textarea {
  outline: none;
  padding: 10px;
  font-size: 20px;
  background-color: transparent;
  color: whitesmoke;
  border-radius: 5px;
  border: 2px solid #dadada;
  border-top: none;
}
.form-contact input::placeholder {
  color: white;
  font-weight: bold;
  font-size: 16px;
}
.form-contact textarea::placeholder {
  color: whitesmoke;
  font-weight: bold;
  font-size: 16px;
}
.btn-submit {
  background-color: #818ac9 !important;
  border: none;
  text-transform: uppercase;
  color: white;
  font-weight: bolder;
  letter-spacing: 2px;
  font-size: 20px;
  width: 200px;
  height: 40px;
  align-self: center;
  margin: 30px 0px;
  border: none !important;
  transform: perspective(1000px) rotate(-10deg) skew(25deg) translate(0,0);
  box-shadow: -25px 25px 10px rgba(142, 174, 204, 0.5);
  position: relative;
}
.form-contact button::before{
  content: '';
  width: 20px;
  height: 100%;
  background-color: #818ac9;
  transform: skewY(-45deg) rotate(0deg);
  position: absolute;
  top: 10px;
  left: -20px;
}
.form-contact button::after{
  content: '';
  width: 100%;
  height: 20px;
  background-color: #818ac9;
  transform: skewX(-45deg) rotate(0deg);
  position: absolute;
  top: 40px;
  left: -10px;
}
.form-contact button:active{
  transform: perspective(1000px) rotate(-10deg) skew(25deg) translate(-10px,10px);
}

.right-cont {
  flex: 1;
  z-index: 2;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 80px;
}
.right-cont a {
  color: white;
  width: 100px;
  height: 100px;
  position: relative;
  font-size: 80px;
  background-color: #252d5e;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(0, 0);
  position: relative;
  box-shadow: -35px 35px 10px rgba(142, 174, 204, 0.5);
  cursor: pointer;
}
.right-cont a::before {
  z-index: -1;
  content: "";
  position: absolute;
  width: 20px;
  height: 100%;
  top: 10px;
  left: -20px;
  transform: rotate(0deg) skewY(-45deg);
  background-color: #252d5e;
  transition: all 0.5s ease;
}
.right-cont a::after{
  content: '';
  position: absolute;
  width: 100%;
  height: 20px;
  top: 100px;
  left: -10px;
  background-color: #252d5e;
  transform: skewX(-45deg);
}
.right-cont a:hover{
  transition: all .5s ease;
  transform: perspective(1000px) rotate(-30deg) skew(25deg)  translate(20px, -20px);
}
@media (max-width: 768px) {
  .contact {
    flex-direction: column;
    gap: 100px;
  }
  .right-cont {
    display: flex;
    align-items: center;
    gap: 100px;
    flex-direction: row;
  }
  .right-cont div {
    color: white;
    width: auto;
    height: auto;
    position: relative;
    font-size: 40px;
  }
  .right-cont a{
    transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(0, 0) scale(0.6);
  }
}
