.intro {
  display: flex;
  flex: 1;
  position: relative;
  min-height: 100vh;
}
.left {
  padding: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid wheat; */
  position: relative;
  flex: 1;
}
.left p {
  color: white;
  font-size: 20px;
  line-height: 30px;
  transition: all 0.2s ease-in-out;
  text-shadow: rgb(163, 160, 149) 1px 3px 10px;
  text-indent: 20px;
  animation: descabout 2s linear infinite;
}
.right {
  position: relative;
  min-height: 70vh;
  /* border: 1px solid wheat; */
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
.right img {
  width: 100%;
  object-fit: cover;
  z-index: 0 !important;
  
}

.intro .img, .intro .img1 {
  width: 100%;
  height: auto;
  transition: all 0.4s ease;
  /* transform: translate(1200px) translateY(-240px); */
  animation: rotImage 4s forwards linear;
  position: absolute;
}
.intro .img1{
    max-width: 450px;
}
.intro .img{
    filter: blur(10px);
    max-width: 500px;
}


@keyframes rotImage {
  0% {
    transform: rotate(50deg)  translateY(-500px);
    right: 0;
  }
  100% {
    /* transform: translate(120px) translateY(100px) ; */
    position: fixed;
    right: -200px;
  }
}
@media (max-width:1080px) {
  .intro{
    display: flex;
    flex-direction: column;
  }
  .right{
    justify-content: flex-end;
    align-items: center;
  }
}
@media (max-width: 768px) {
    .right{
      min-height: 10vh; 
    }
    .intro img{
        transform: scale(0.5);
    }
  .intro {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    min-height: 60vh;
  }
  .left p{
    height: 500px;
  }
  .left{
    padding: 5px;
  }
  .right{
    align-items: center;
    transform: scale(0.9);
  }
  .intro span {
    font-size: 20px;
    font-weight: bolder;
    color: #45c945;
  }
  .intro .intro-last {
    position: absolute;
    transition: all 0.2s ease-in-out;
    animation: animeLet 0.1s ease-in-out infinite;
  }
}
@keyframes animeLet {
  from {
    top: 50%;
    left: 50%;
    transform: translateY(500px) translateX(400px);
    font-size: 40px;
  }
  to {
    top: auto;
    left: auto;
    transform: translate(0);
    font-size: 16px;
  }
}
@media (min-width: 768px) {
    .circle{
      width: 30rem;
      height: 30rem;
      position: absolute;
      background-color: #6a7eb6;
      z-index: 0;
      border-radius: 50%;
      top: -400px;
      left: -200px;
      filter:blur(20px);
      transition: 0.5s ease;
    }
    .intro p{
        transform: skewY(-10deg);
        border-bottom: 4px solid #252d5e;
        border-right: 4px solid #252d5e;
        padding-left: 10px;
        width: 560px;
        height: 320px;
        box-shadow: -4px 6px 5px #6a7eb6;

    }
    .intro p::after{
        position: absolute;
        content: "";
        width: 101%;
        height: 32px;
        background-color: #252d5e;
        left: -18px;
        top: -31px;
        transform: skewX(45deg);

    }
    .intro p::before{
        position: absolute;
        content: "";
        width: 35px;
        height: 102%;
        background-color: #252d5e;
        left: -34px;
        top: -16px;
        transform: skewY(41deg);
    box-shadow: -4px 6px 5px #6a7eb6;

    }
}