@import url(animated.css);


@media (max-width: 920px) {
  
}
@media (min-width: 768px) {
  .logo {
    border: 1px solid #5363c9;
    padding: 12px;
    position: absolute;
    transform: rotateZ(-45deg) ;
    width: 100px;
    height: 100px;
    cursor: pointer;
    top: 80px  !important;
    animation: show 3s ease-in-out forwards;
    left: 100px !important;
    z-index: 1;
    background-color: #0a192f;
    display: flex;
    align-items: center;
    justify-content: center;
  }
    .logo::before{
      content: '';
      position: absolute;
      border: 2px solid white;
      border-right: none;
      border-bottom: none;
      width: 100%;
      height: 40%;
      top: -36px;
      left: 20px;
      transform: skewX(-50deg)  rotateX(49deg);
      filter: blur(2px);
    }
    .logo::after{
      content: '';
      position: absolute;
      border: 2px solid white;
      filter: blur(2px);
      border-left: none;
      width: 30%;
      height: 100%;
      top: -17px;
      left: 100px;
      transform: skewY(-42deg);
    }
  .logo-lett {
    background-color: #0a192f;
    z-index: 1;
    color: #5363c9;
    font-size: 64px;
    transform: rotateZ(45deg);
  }
  .logo-fr-line,
  .logo-sc-line,
  .logo-tr-line {
    border-color: #5363c9;
    position: absolute;
    width: 100px;
    height: 100px;
    border: 4px solid #5363c9;
    z-index: 0;
    background-color: transparent;
    border-top: none;
    border-right: none;

  }
  .logo-fr-line {
    top: 5px;
    right: 5px;
    filter: blur(1px);
    /* transition: all 0.5s ease ; */
    /* animation: animate ease-in-out infinite 6s; */
  }
  .logo-sc-line {
    top: 10px;
    right: 10px;
    animation: animate 2s ease-in-out  infinite forwards;
    filter: blur(1px);

  }
  .logo-tr-line {
    top: 15px;
    right: 15px;
    animation: animate 4s ease-in-out  infinite forwards 2s ;
    filter: blur(1px);

  }
}

@media (max-width: 768px) {
  .logo {
    border: 1px solid #5363c9;
    padding: 12px;
    position: absolute;
    transform: rotateZ(-45deg);
    width: 50px;
    height: 50px;
    cursor: pointer;
    top: 20px;
    left: 20px !important;
    animation: show 3s ease-in-out forwards;
  }
  
  .logo:hover{
    border: 3px solid #5363c9;
    border-left: 3px solid #5363c9;
    transition: all 0.3s ease-in-out;
    padding: 10px;
  }
  .logo:hover .logo-lett{
    font-weight: bolder;

  }
  .logo-lett {
    background-color: #0a192f;
    z-index: 1;
    color: #5363c9;
    font-size: 24px;
    transform: rotateZ(45deg);
  }
  .logo-fr-line,
  .logo-sc-line,
  .logo-tr-line {
    border-color: #5363c9;
    position: absolute;
    width: 50px;
    height: 50px;
    border: 1px solid #5363c9;
    z-index: 0;
    background-color: transparent;
    border-top: none;
    border-right: none;
  }
  .logo-fr-line {
    top: 5px;
    right: 5px;
    /* transition: all 0.5s ease ; */
    /* animation: animate ease-in-out infinite 6s; */
  }
  .logo-sc-line {
    top: 10px;
    right: 10px;
    animation: animate ease-in-out infinite 2s;
  }
  .logo-tr-line {
    top: 15px;
    right: 15px;
    animation: animate ease-in-out infinite 4s;
  }

  
}
