@import url(animated.css);

@media (max-width: 768px) {
  .btn-menu {
    display: flex;
    width: 40px;
    height: 40px;
    position: relative;
    transition: all 0.3s ease;
    align-items: center;
    justify-content: center;
  }
  .btn-menu span:first-child {
    padding: 2px;
    height: 2px;
    /* width: 40px; */
    background-color: #45c945;
    position: absolute;
    top: 0;
    right: 0;
    animation: widthanimeFr 0.5s forwards ease-in-out;
  }
  .btn-menu span:nth-child(2) {
    position: absolute;
    top: 10px;
    right: 0;
    padding: 2px;
    height: 2px;
    width: 30px;
    background-color: #45c945;
    animation: widthanimeSc 0.5s forwards ease-in-out;
  }

  .btn-menu span:nth-child(3) {
    position: absolute;
    top: 20px;
    right: 0;
    padding: 2px;
    height: 2px;
    width: 20px;
    background-color: #45c945;
    animation: widthanimeTr 0.5s forwards ease-in-out;
  }
  .btn-close {
    display: flex;
    width: 40px;
    height: 40px;
    position: relative;
    align-items: center;
    justify-content: center;
    top: 10px;
  }
  .btn-close span:first-child {
    transition: all 0.2s ease-in-out;
    animation: rotateFr 0.3s ease forwards;
    transform: rotateZ(-45deg);
    width: 30px;
    height: 2px;
    padding: 2px;
    background-color: #45c945;
    position: absolute;
    top: 0;
  }
  .btn-close span:nth-child(2) {
    display: none;
  }
  .btn-close span:nth-child(3) {
    transition: all 0.2s ease-in-out;
    transform: rotateZ(45deg);
    animation: rotateSc 0.3s ease forwards;
    position: absolute;
    width: 30px;
    height: 2px;
    padding: 2px;
    background-color: #45c945;
    top: 0;
  }
  .btn-menu span,
  .btn-close span {
    border-radius: 2px;
  }

  .menu {
    position: absolute;
    top: 80px;
    right: 0px;
    border-radius: 10px 0 0 10px;
    width: 250px;
    background-color: #45c945;
    transition: all 0.3s ease-in-out;
    transform: translateX(0px);
    height: auto;
    padding: 20px;
    z-index: 2;
  }
  .close-menu {
    position: absolute;
    top: 80px;
    right: 0;
    width: 250px;
    background-color: #45c945;
    height: 0;
    transition: all 0.3s ease-in-out 0.2s;
    transform: translateX(1000px);
    animation: closeMenu 0.3s forwards ease;
  }

  .menu-list {
    list-style: none;
    padding: 5px;
    transform: translate(0px);
    transition: all 0.3s ease-in-out 0.3s;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    background-color: #0a192f;
    border-radius: 10px;
  }
  .menu-list-close {
    list-style: none;
    padding: 5px;
    transform: translate(1000px);
    transition: all 0.3s ease-in-out;
  }
  .menu-list li {
    color: white;
    cursor: pointer;
  }
  .li-item {
    transform: translate(1000px);
  }
  .menu-list li:nth-child(1) {
    transition: all 0.3s ease-in-out 0.3s;
    transform: translate(0px);
  }
  .menu-list li:nth-child(2) {
    transform: translate(0px);
    transition: all 0.3s ease-in-out 0.6s;
  }
  .menu-list li:nth-child(3) {
    transform: translate(0px);
    transition: all 0.3s ease-in-out 0.9s;
  }
  .menu-list li:nth-child(4) {
    transform: translate(0px);
    transition: all 0.3s ease-in-out 1.2s;
  }
  .menu-list li:nth-child(5) {
    transform: translate(0px);
    transition: all 0.3s ease-in-out 1.5s;
  }
}

/* .menu {
  display: flex;
  flex-direction: row;
  gap: 20px;
  list-style-type: none;
}
.menu li{
  color: white;
  text-shadow: rgb(163, 160, 149) 3px 10px 10px;
} */
@media (min-width: 768px) {
  .menu-list-close {
    display: flex;
    flex-direction: row;
    gap: 20px;
    list-style-type: none;
  }
  .menu-list-close li {
    color: white;
    text-shadow: rgb(163, 160, 149) 3px 10px 10px;
    cursor: pointer;
    font-size: 26px;
  }
  .li-item:nth-child(1),
  .li-item:nth-child(2),
  .li-item:nth-child(3){
    opacity: 0;
    transition: 0.5s ease;
  }
  .li-item:nth-child(1){
    animation: opacityLi 1s linear forwards;
  }
  .li-item:nth-child(2){
    animation: opacityLi 1s linear 1s forwards;

  }
  .li-item:nth-child(3){
    animation: opacityLi 1s linear 2s forwards;

  }
  @keyframes opacityLi {
    0%{
      opacity: 0;
    }100%{
      opacity: 1;
    }
  }
  .li-item{
    transform: skewY(-15deg) translate(0,0);
    background-color: #252d5e;
    border-top: 1px solid grey;
    margin-right: 20px;
    padding: 5px;
    height: 100%;
    transition: .5s ease;
    box-shadow: -4px 6px 5px #6a7eb6;
  }
  .li-item::before{
    display: flex;
    align-items: center;
    justify-content: center;
    content: attr(aria-details);
    position: absolute;
    left: -29px;
    font-size: 26px;
    top: -18px;
    height: calc(100% - 7px) ;
    width: 20px;
    transform:  skewY(45deg);
    transition: 0.5s;
    background-color: #313357;
    padding: 5px;
    box-shadow: -3px 8px 5px #6a7eb6;

  }
  .li-item::after{
    height: calc(100% - 7px);
    content: "";
    position: absolute;
    top: -40px;
    left: -23px;
    width: 100%;
    background-color: #313357;
    transform: skewX(45deg) translateY(9px);
  }
  .li-item:hover{
    transition: .5s ease;
    transform: skewY(-15deg) translate(-20px,20px);

    box-shadow: -3px 8px 5px #6a7eb6;
  }
  
}
