@media (max-width: 768px) {
    .nav{
        display: flex;
        justify-content: flex-end !important;
        width: 100%;
        align-items: center;
        padding: 20px;
        margin-bottom: 50px;
    }
}
.nav{
    display: flex;
    justify-content: space-between;
    padding: 40px 20px;
    margin-bottom: 50px;
    width: 100%;
    max-width: 1440px;
    align-self: center;
}