.progress{
    width: 350px;
    border: 4px solid #252d5e;
    height: auto;
    text-align: start;
    padding: 15px 10px;
    z-index: 2;
    height: 93px;
    /* animation: progressShow 1s linear; */
}
/* .progress:nth-child(1){
    animation: progressShow 1s linear forwards ;
}
.progress:nth-child(2){
    animation: progressShow 1s linear forwards 0.5s ;
}.progress:nth-child(3){
    animation: progressShow 1s linear forwards 1s;
}.progress:nth-child(4){
    animation: progressShow 1s linear forwards 1.5s;
}.progress:nth-child(5){
    animation: progressShow 1s linear forwards 2s;
} */
.progress:nth-child(1):after,
.progress:nth-child(2):after,
.progress:nth-child(3):after,
.progress:nth-child(4):after,
.progress:nth-child(5):after
{
    content: "";
    background-color: #252d5e;;
    width: 100%;
    height: 30px;
    position: absolute;
    transform: skewX(50deg);
}
.progress:nth-child(1)::after   {
    top: -29px;
    left: -17px;
}
.progress:nth-child(2)::after   {
    top: 113px;
    left: -17px;
}
.progress:nth-child(3)::after   {
    top: 257px;
    left: -17px;
}
.progress:nth-child(4)::after   {
    top: 400px;
    left: -17px;
}

.progress:nth-child(5)::after   {
    top: 543px;
    left: -17px;
}

.progress:nth-child(1)::before,
.progress:nth-child(2)::before,
.progress:nth-child(3)::before,
.progress:nth-child(4)::before,
.progress:nth-child(5)::before{
    content: "";
    background-color: #252d5e;
    width: 36px;
    height: 93px;
    position: absolute;
    transform: skewY(40deg);
}
.progress:nth-child(1)::before{
    top: -14px;
    left: -35px;
}
.progress:nth-child(2)::before{
    left: -35px;
    top: 128px;
}
.progress:nth-child(3)::before{
    left: -35px;
    top: 272px;
}
.progress:nth-child(4)::before{
    left: -35px;
    top: 414px;
}
.progress:nth-child(5)::before{
    left: -35px;
    top: 558px;
}
.progress-r{
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: 50px;
    transform: skewY(-10deg);
    position: relative;
    height: 700px;
    width: 350px;
}
.progress .pro-name{
    color: white;
    font-size: 30px;
}
.progress .bar{
    width: 100%;
}

.percent{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.percent span{
    color: white;
    display: flex;
    font-size: 20px;
}
.bar{
    position: relative;
}
.full-bar{
    background-color: whitesmoke;
    width: 100%;
    height: 4px;
    padding: 4px;
    position: absolute;
    left: 0;
    border-radius: 4px;
    filter: blur(2px);
}
.pro-bar{
    position: absolute;
    padding: 2px;
    background-color: blue;
    top: 26px;
    left: 2px;
    border-radius: 4px;
}

@keyframes progressShow {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}