@media (max-width: 768px) {
  .project-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    margin-bottom: 80px;
    height: 100%;
  }
  .project-lg {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: flex-start;
    overflow-x: scroll; /* or overflow-x: scroll; */
    white-space: nowrap; /* Ensures content stays in a single line */
    scrollbar-color: #0a4c95 #c2d2e4;
    position: relative;
  }
  .project-content-lg {
    display: flex;
    gap: 40px;
    transform: translate(0px);
    height: auto;
    width: auto;
  }

  .project-container h2 {
    color: #45c945;
    margin-bottom: 30px;
    z-index: 2;
    align-self: center;
  }
}

@media (min-width: 768px) {
  .project-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    margin-bottom: 100px;
    height: auto;
  }
  .project-lg {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-self: center;
    height: 100%;
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-color: #0a4c95 #c2d2e4;
    position: relative;
  }
  .project-content-lg {
    display: flex;
    gap: 40px;
    transform: translate(80px);
    height: 100%;
    width: auto;
  }
  .project-container h2 {
    color: #45c945;
    font-size: 36px;
    margin: 40px 0;
  }
  .project-lg::-webkit-scrollbar {
    background-color: #497094;
    filter: blur(2px);
    border-radius: 4px;
  }
  .project-lg::-webkit-scrollbar-thumb {
    background-color: #1a1a69;
    width: 150px;
    border-radius: 4px;
  }
  .btn-next,
  .btn-prev {
    /* position: absolute; */
    /* height: 90%; */
    width: 170px;
    padding: 5px 10px;
    border: none;
    z-index: 10;
    color: white;
    background: transparent;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    font-size: 40px;
    cursor: pointer;
  }
  .button-group {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .btn-next {
    bottom: 0;
    left: 0px;
  }
  .btn-prev {
    bottom: 0;
    left: 0px;
  }
}
@media (max-width: 1180px) {
  .btn-next,
  .btn-prev {
    display: none;
  }
}
